---
title: Verify Your Email
---

When you created your account, you chose an email that is used as an identifier. 

We sent an email to your email address. Please, click on the button in this email to be sure that you control your
account.

![Verify your email](/img/meta-email-verif-v0.9.133.png)
